@* Prices Update *@
@model Price

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Update Price</h5>
            </div>
            <div class="card-body">

                <form method="post" enctype="multipart/form-data">


                  
                    <div class="mb-3 form-group">
                        <label asp-for="Name" class="form-label"></label>
                        <textarea asp-for="Name" class="form-control"></textarea>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="Cost" class="form-label"></label>
                        <input asp-for="Cost" class="form-control"></input>
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Title" class="form-label"></label>
                        <input asp-for="Title" class="form-control"></input>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>


                    <div class="mb-3 form-group">
                        <label asp-for="Discount" class="form-label"></label>
                        <input asp-for="Discount" class="form-control"></input>
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Features" class="form-label"></label>
                        <input asp-for="Features" class="form-control"></input>
                        <span asp-validation-for="Features" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Button" class="form-label"></label>
                        <input asp-for="Button" class="form-control"></input>
                        <span asp-validation-for="Button" class="text-danger"></span>
                    </div>




                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a asp-action="Index" class="btn btn-secondary">Go Back</a>


                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
